.medium{
  width: 30%;
}
html{
  margin-left: 5%;
  margin-right: 5%;
}
button{
  width: 10%;
  height: 4%;
  margin: 10%;
  font-size: 1.6em;
}
#busmallChart{
  width: 90%;
  height:70%;
}
canvas{
  text-align: center;
}
